<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/style.css">
  <title>Max Hully</title>
</head>

<body>
  <a href="/" class="name">{{ partial "name.svg" . }}</a>
  <main>
    <h1>Hi, I'm Max!</h1>

    <p>I work and play with computers. I like theatre, music, and art.</p>

    <h2>Here are some things I made for fun</h2>

    <article>
      <h3><cite>Bee Escape!!</cite></h3>

      <p>
        <cite>Bee Escape!!</cite> is a single-player 3D action game where you play as a
        bee trying to get out of an apartment. You are a bee. Get out of the house!
      </p>

      <p><a href="https://maxhully.itch.io/bee-escape">Check it out on itch.io!</a></p>
    </article>

    <article>
      <h3><cite>entropych.social</cite></h3>

      <p>
        <cite>entropych.social</cite> is an online installation art piece / social media
        network where posts are corrupted with random noise as they travel across the
        social graph. The farther away you are from following someone, the more garbled
        their posts look.
      </p>

      <p>
        <a href="/hello-gptbot/">
          I wrote about the time when all the LLM training data scraper bots crawled
          entropych.social.
        </a>
      </p>

      <p>
        <a href="https://entropych.maxhully.net/">Check it out!</a>
        •
        <a href="https://github.com/maxhully/entropych">Source code</a>
      </p>
    </article>
  </main>
</body>

</html>
